

.container-fluid {
    padding: 0;
    margin-top: 0px;
    background-color: #598392;
}

app-header {
    margin-bottom: 0px;
}

h1 {
    color: white;
    font-size: 6em;
}

.row {
    height: 60vh;
    align-items: center;
}

.left-side-column {
    display: flex;
    justify-content: center;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 20px;
    border-color: #e0e1dd;
}

img {
    max-width: 100%;
    height: auto;
}